 <launch>
    <rosparam param="sim">false</rosparam>
    <rosparam param="map">false</rosparam>
    <rosparam param="use_tf">false</rosparam>
    <rosparam param="rviz">true</rosparam>

    <node pkg="AA274_Final_Project" type="hw2_demo.py" name="hw2_demo.py" />
    <node pkg="AA274_Final_Project" type="pose_controller_nav.py" name="pose_controller_nav.py" />

</launch>
